<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          actor {
            provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            
            serializers {
              json = "Akka.Serialization.NewtonSoftJsonSerializer"
              java = "Akka.Serialization.JavaSerializer" # not used, reserves serializer identifier
              bytes = "Akka.Serialization.ByteArraySerializer"
              chess = "ChezGeek.Common.Serialization.ChessEntitySerializer, ChezGeek.Common"
            }

            serialization-bindings {
              "System.Byte[]" = bytes
              "System.Object" = json
              "ChezGeek.Common.Serialization.SerializableMessage, ChezGeek.Common" = chess
            }
          }
          
          suppress-json-serializer-warning = on
          
          remote {
            helios.tcp {
              maximum-frame-size = 4000000b
              transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
              transport-protocol = tcp
              #public-hostname = 127.0.0.1
              hostname = 127.0.0.1
              port = 8008
            }
          }
          
          cluster {
            seed-nodes = ["akka.tcp://ChezCluster@127.0.0.1:1337"]
            roles = [node]
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>