<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<akka>
		<hocon>
			<![CDATA[
					lighthouse {
						actorsystem: "ChezCluster"
					}
			
					akka {
						actor { 
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
              
              serializers {
                json = "Akka.Serialization.NewtonSoftJsonSerializer"
                java = "Akka.Serialization.JavaSerializer" # not used, reserves serializer identifier
                bytes = "Akka.Serialization.ByteArraySerializer"
                chess = "ChezGeek.Common.Serialization.ChessEntitySerializer, ChezGeek.Common"
              }

              serialization-bindings {
                "System.Byte[]" = bytes
                "System.Object" = json
                "ChezGeek.Common.Serialization.SerializableMessage, ChezGeek.Common" = chess
              }
						}
            
            suppress-json-serializer-warning = on
						
						remote {
							log-remote-lifecycle-events = DEBUG
							helios.tcp {
                maximum-frame-size = 4000000b
								transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
								applied-adapters = []
								transport-protocol = tcp
								#public-hostname = 127.0.0.1
								hostname = "0.0.0.0"
								port = 1337
							}
						}            
						
						loggers = ["Akka.Logger.NLog.NLogLogger,Akka.Logger.NLog"]
						
						cluster {
							seed-nodes = ["akka.tcp://ChezCluster@127.0.0.1:1337"]
							roles = [lighthouse]
						}
					}
			]]>
		</hocon>
	</akka>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
