<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          actor {
            provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
          }
          
          remote {
            helios.tcp {
              transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
              transport-protocol = tcp
              public-hostname = "192.168.4.125"
              hostname = "127.0.0.1"
              port = 0
            }
          }
          
          cluster {
            seed-nodes = ["akka.tcp://ChessCluster@192.168.4.205:1337"]
            roles = [node]
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>